.static-box{
    height: 200px;
    width: 200px;
    background-color: pink;
    position:static
}

.relative-box{
    height: 200px;
    width: 200px;
    background-color: red;
    position: relative;
    right: 30px;
    top: 20px;
    
}

.absolute-box{
    height: 200px;
    width: 200px;
    background-color: orange;
    position: absolute;
    top: 10px;
    left: 15px;
}

.fixed-box{
    height: 200px;
    width: 200px;
    background-color: yellow;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.sticky-box{
    height: 200px;
    width: 200px;
    background-color: yellowgreen;
    position: sticky;
    top: 0px;
}

.background-image{
    height: 200px;
    width: 200px;
    background-color: green;
    background-image: url("https://www.nylabone.com/-/media/project/oneweb/nylabone/images/dog101/10-intelligent-dog-breeds/golden-retriever-tongue-out.jpg");
        background-size: cover;
}

.background-image-repeat{
    height: 400px;
    width: 400px;
    background-color: blue;
    background-image: url("https://www.nylabone.com/-/media/project/oneweb/nylabone/images/dog101/10-intelligent-dog-breeds/golden-retriever-tongue-out.jpg");
        background-repeat: repeat-x repeat-y;
        background-size: 30%;

}

.overlapping-box 
    .box1{
        z-index: -1;
        background-color: cyan;
        height: 200px;
        width: 200px;
        position: absolute;
       
    }
    .overlapping-box  .box2{
        
        background-color: bisque;
        height: 200px;
        width: 200px;
        position: relative;
        top: 30px;
        z-index: 2;
    }


.parent1{
    height: 400px;
    width: 400px;
    background-color: white;
    border-color: black; border: solid;
    display: flex;
    flex-direction: row;
    .child-1{
        background-color: beige;
        border: dashed; border-color: red;
    }

}

.parent2{
    height: 400px;
    width: 400px;
    border: solid; border-color: black;
    flex-direction: column;
    display: flex;
    .child-2{
        border-color: blueviolet; border: dashed;
        height: 200px;
        width: 200px;
    }

}

.parent3{
    height: 400px;
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    border: solid; border-color: black;
}

.parent3  .child-3{
        border: dashed 2px aqua;
        height: 100px;
        width: 100px;
        background-color: red;
    }


.parent4{
    height: 400px;
    width: 400px;
    background-color: white;
    border: 4px solid black;
    display: flex;
    flex-wrap: wrap;
}

.child-10{
    height: 100px;
    width: 100px;
    border: 2px dashed pink;

}
.parent5{
    height: 400px;
    width: 400px;
    border: solid black 2px;
    display: flex;
    align-items: center; 
}
  .parent5  .child-a{
        height: 40px;
        width:100px;
        background-color: aqua;
        display:inline-block;
    }
 .parent5  .child-b{
        height: 50px;
        width:100px;
        background-color: blanchedalmond;
        display:inline-block;
    }
.parent5  .child-c{
        height: 80px;
        width:100px;
        background-color: blue;
        display:inline-block;
    }
    


.question14{
    height: 700px;
    width: 700px;
    border: solid black 2px;
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}
    .question14 .flex-14{
        height: 100px;
        width: 200px;
        border: dashed 2px blue;
        background-color: green;
        display: inline-block;
      
    }


.question15{
    height: 200px;
    width: 400px;
    border: solid; border-color: black;
    display: flex;
}

    .flex-15a{
        width:100px;
        height:70px;
        background-color: chocolate;
        border-color: red 2px solid;
        display:inline-block;
    }
    .flex-15b{
        width:100px;
        height:70px;
        background-color: green;
        border-color: red 2px solid;
        display:inline-block;
        flex-grow: 2;
    }
    .flex-15c{
        width:100px;
        height:70px;
        background-color: blue;
        display:inline-block;
        border-color: red 2px solid;
    }
}




